html, body {
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;    
  }

  
  #score {
    color: aquamarine;
    font-size: 50px;
  }


  #gameModes {
    display: flex;
    flex-direction: row;
  }  

  #oneDot, #clearField, #randomPlankton, #startGame{
    background-color: rgb(69, 201, 203);
    border: none;
    color: rgb(7, 73, 82);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #game {
    box-shadow: 0px 100px 100px 100px rgb(14, 63, 75);
  }

